section.container{
    width: 70vw;
    height: 100vh;
    margin: 0 auto;
    border: 5px dotted hotpink;
    background-color: floralwhite;


    h1, h3 {
        font-family: PreppyGirlsHandwriting, serif;
        color: deeppink;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .generate-box {
        display: flex;
        gap: 10px;

        .inputs{
            display: flex;
            flex-direction: column;
            gap: 5px;


            label {
                display: flex;
                gap: 10px;
                justify-content: space-between;
                color: deeppink;
                font-family: "American Typewriter", serif;


            }
        }
        button {
            background-color: pink;
            border: dotted 1px hotpink;
            color: deeppink;
            font-family: "American Typewriter", serif;
            border-radius: 10px;
        }
    }
}

#output {
    overflow: scroll;
    max-width: 90vw;
    max-height: 60vh;

    table, th, tr, td{
        border: 1px solid pink;
        border-collapse: collapse;
    }

    table {
        border: 1px solid black;

        tr:first-of-type {
            background-color: lightpink;
            color: deeppink;
        }

        tr:last-of-type {
            background-color: bisque;
            color: black;
        }

        td:first-of-type {
            background-color: lightpink;
            color: deeppink;
        }

        td:last-of-type {
            background-color: bisque;
            color: black;
        }



        .highlight {
            background-color: aquamarine;
        }

        td {
            padding: 4px;
            text-align: center;
        }
    }

}

